{% extends "admin/base_site.html" %} 
{% load static %}

{% block title %} 
Survey Report
{% endblock %} 

{% block content %}
    <link rel="stylesheet" href="{% static 'chartist/chartist.min.css' %}">
    <script type="text/javascript" src="{% static 'chartist/chartist.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #chart-container{
            width: 100%;
            height: 45vh;
        }

        .ct-series-a .ct-bar {
             stroke: #F3D00D;
        }
    </style>
    <div class="container-fluid">
        <div class="container-fluid">
            <a href="{% url 'download_survey_report' %}" class="btn btn-fill bg-green">Download Survey Info</a>
        </div>
        <div class="form-group">
            <label for="chart-select">Select Chart:</label>
            <select id="chart-select" class="form-control">
                <option value="default">...</option>
                <option value="gender">लि‌ङ्ग</option>
                <option value="woda">स्थायी बसोबास</option>
                <option value="religion">धर्म</option>
                <option value="caste">जात</option>
                <option value="occupation">पेशा</option>
                <option value="adoccupation">ईच्छाइएको पेशाहरू</option>
                <option value="skill">सिप</option>
                <option value="training">लिन ईच्छाइएको तालिमहरू</option>
                <option value="qualification">शैक्षिक योग्यता</option>
                <option value="blood-group">रगत समूह</option>
                <option value="marriage-group">विवाह स्थिति</option>
            </select>
        </div>

        <div id = "gender" class="card text-center">
            <div class="card-header">
            लि‌ङ्ग
            </div>
            <div class="card-body">
                <div id="chart-container" class="gender-chart"></div>
            </div>
            <div class="card-footer text-muted">
                १. महिला, २. पुरुष, ३. अन्य
            </div>
        </div>

        <div id = "woda" class="card text-center">
            <div class="card-header">
            स्थायी बसोबास
            </div>
            <div class="card-body">
                <div id="chart-container" class="woda-chart"></div>
            </div>
            <div class="card-footer text-muted">
                वोडा नं १, २, ३, ४, ५, ६, ७, ८, ९, १०, ११, १२
            </div>
        </div>

        <div id = "religion" class="card text-center">
            <div class="card-header">
            धर्म
            </div>
            <div class="card-body">
                <div id="chart-container" class="religion-chart"></div>
            </div>
            <div class="card-footer text-muted">
                हिन्दु, बौद्व, क्रिस्चियन, मुस्लिम, अन्य
            </div>
        </div>

        <div id = "caste" class="card text-center">
            <div class="card-header">
            जात
            </div>
            <div class="card-body">
                <div id="chart-container" class="caste-chart"></div>
            </div>
            <div class="card-footer text-muted">
                ब्राम्हण/क्षत्री, जनजाती, दलित, अल्पसंख्यक, अन्य
            </div>
        </div>

        <div id = "occupation" class="card text-center">
            <div class="card-header">
            पेशा
            </div>
            <div class="card-body">
                <div id="chart-container" class="occupation-chart"></div>
            </div>
            <div class="card-footer text-muted">
                सरकारी सेवा करार, सरकारी सेवा स्थायी,शिक्षण सरकारी, शिक्षण प्राइभेट, प्राइभेट नोकरी, बैंक, विमा, सहकारी संस्था, होटल व्यवसायी, आफ्नै व्यवसायी, कुनै पेशा रोजगारमा संलग्न नरहेको
            </div>
        </div>

        <div id = "adoccupation" class="card text-center">
            <div class="card-header">
            ईच्छाइएको पेशाहरू
            </div>
            <div class="card-body">
                <div id="chart-container" class="adoccupation-chart"></div>
            </div>
            <div class="card-footer text-muted">
                कृषि तथा पशुपालन,
                पर्यटन व्यवसाय(होमस्टे, होटल व्यवसाय),
                गित, संगीत र साहित्य सम्बन्धी,
                खेलकुद सम्बन्धी,
                साना तथा घरेलु उधोग,
                सरकारी सेवा
            </div>
        </div>


        <div id = "skill" class="card text-center">
            <div class="card-header">
            सिप
            </div>
            <div class="card-body">
                <div id="chart-container" class="skill-chart"></div>
            </div>
            <div class="card-footer text-muted">
                ...
            </div>
        </div>


        <div id = "training" class="card text-center">
            <div class="card-header">
            लिन ईच्छाइएको तालिमहरू
            </div>
            <div class="card-body">
                <div id="chart-container" class="training-chart"></div>
            </div>
            <div class="card-footer text-muted">
            कृषि तथा पशुपालन सम्बन्धी तालिम, पर्यटन व्यवसाय(होमस्टे, होटल व्यवसाय) सम्बन्धी तालिम, साना तथा घरेलु उधोग संचालन सम्बन्धी तालिम, सरकारी सेवा तयारी तालिम, गित, संगीत र साहित्य सम्बन्धी तालिम, खेलकुद सम्बन्धी तालिम, 
        सकरात्मक सोच तथा सचेतनात्मक सोच सम्बन्धी अभिमुखिकरण तालिम
            </div>
        </div>

        <div id = "qualification" class="card text-center">
            <div class="card-header">
            शैक्षिक योग्यता
            </div>
            <div class="card-body">
                <div id="chart-container" class="qualification-chart"></div>
            </div>
            <div class="card-footer text-muted">
                ...
            </div>
        </div>

        <div id = "blood-group" class="card text-center">
            <div class="card-header">
            रगत समुह
            </div>
            <div class="card-body">
                <div id="chart-container" class="blood-group-chart"></div>
            </div>
            <div class="card-footer text-muted">
                १. A+, २. A-, ३. B+, ४. B-, ५. AB+, ६. AB-, ७. O+, ८. O-, ९. थाछैन
            </div>
        </div>

        <div id = "marriage-group" class="card text-center">
            <div class="card-header">
            विवाह स्थिति
            </div>
            <div class="card-body">
                <div id="chart-container" class="marriage-group-chart"></div>
            </div>
            <div class="card-footer text-muted">
                १. विवाहित, २. अविवाहित, ३. सम्बन्धविच्छेद भएको, ४. अन्य
            </div>
        </div>
    </div>
    

    <script type="text/javascript">  
        $(document).ready(function() {
            //Hide all the card initially.
            $('.card').hide();
            //Show the card based on the dropdown value.
            $("#chart-select").change(function() {
                var selectedChart = $(this).val();
                $('.card').hide();
                $("#" + selectedChart).show();

                function renderBarLabels(chart) {
                    chart.on('draw', function(data) {
                        if (data.type === 'bar') {
                        var bar = data.element;
                        var value = data.value.y;
                        var xPos = data.x1  + (bar.width() / 2);
                        var yPos = data.y1 - bar.height() - 4;
                        data.group
                            .elem('text', {
                            x: xPos,
                            y: yPos,
                            style: 'text-anchor: middle'
                            }, 'ct-bar-label')
                            .text(value);
                        }
                    });
                }
                var genderData = { 
                    labels : ["महिला","पुरुष", "अन्य"],
                    series : [[{% for key,value in genders_count.items %} {{ value }},{% endfor %}]],
                };
                var options = {
                    seriesBarDistance: 10,
                };
                var gender = new Chartist.Bar('.gender-chart', genderData, options,);
                renderBarLabels(gender);
                // var data = {
                //     series: [5, 3, 0]
                // };

                // var sum = function(a, b) { return a + b };

                // var gender = new Chartist.Pie('.gender-chart', data, {
                //     labelInterpolationFnc: function(value) {
                //         return value;
                //     // return Math.round(value / data.series.reduce(sum) * 100) + '%';
                // }
                // });

                var wodaData = { 
                    labels : ["१","२","३","४","५","६","७","८","९","१०","११","१२"],
                    series : [[{% for key,value in woda_count.items %} {{ value }},{% endfor %}]],
                };
                var woda = new Chartist.Bar('.woda-chart', wodaData, options);
                renderBarLabels(woda);

                var religionData = { 
                    labels : [{% for value in religion_count.religion_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in religion_count.count %} {{ value }},{% endfor %}]],
                };
                var religion = new Chartist.Bar('.religion-chart', religionData, options);
                renderBarLabels(religion);

                var casteData = { 
                    labels : [{% for value in caste_count.caste_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in caste_count.count %} {{ value }},{% endfor %}]],
                };
                var caste = new Chartist.Bar('.caste-chart', casteData, options);
                renderBarLabels(caste);

                var occupationsData = { 
                    labels : [{% for value in occupation_count.occupation_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in occupation_count.count %} {{ value }},{% endfor %}]],
                };
                var occupation = new Chartist.Bar('.occupation-chart', occupationsData, options);
                renderBarLabels(occupation);

                var adoccupationsData = { 
                    labels : [{% for value in adoccupation_count.occupation_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in adoccupation_count.count %} {{ value }},{% endfor %}]],
                };
                var adoccupation = new Chartist.Bar('.adoccupation-chart', adoccupationsData, options);
                renderBarLabels(adoccupation);

                var skillsData = { 
                    labels : [{% for value in skill_count.skill_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in skill_count.count %} {{ value }},{% endfor %}]],
                };
                var skill = new Chartist.Bar('.skill-chart', skillsData, options);
                renderBarLabels(skill);


                var trainingsData = { 
                    labels : [{% for value in skill_count.training_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in skill_count.count %} {{ value }},{% endfor %}]],
                };
                var training = new Chartist.Bar('.training-chart', trainingsData, options);
                renderBarLabels(training);

                var qualificationsData = { 
                    labels : [{% for value in qualification_count.qualification_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in qualification_count.count %} {{ value }},{% endfor %}]],
                };
                var qualification = new Chartist.Bar('.qualification-chart', qualificationsData, options);
                renderBarLabels(qualification);
                // setTimeout(function() {$(window).trigger('resize');}, 100);

                var bloodGrpData = { 
                    labels : [{% for value in blood_group_count.blood_group_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in blood_group_count.count %} {{ value }},{% endfor %}]],
                };
                var bloodGrp = new Chartist.Bar('.blood-group-chart', bloodGrpData, options);
                renderBarLabels(bloodGrp);

                var marriageData = { 
                    labels : [{% for value in marriage_count.marriage_group_name %} '{{ value }}',{% endfor %}],
                    series : [[{% for value in marriage_count.count %} {{ value }},{% endfor %}]],
                };
                var marriageStatus = new Chartist.Bar('.marriage-group-chart', marriageData, options);
                renderBarLabels(marriageStatus);
            });

            /////////////
            
        });


    </script>
{% endblock %}